.idea
app_python/venv
**/__pycache__
app_python/src/static
app_python/src/db.sqlite3
vagrant/.vagrant
terraform/.terraform
terraform/.terraform.lock.hcl
jenkins
vagrant/ubuntu-bionic-18.04-cloudimg-console.log
/terraform/terraform.tfstate.d/
/terraform/terraform_dev/terraform.tfstate.backup
/terraform/terraform_dev/terraform.tfstate
/terraform/terraform_dev/.terraform.lock.hcl
/terraform/terraform_dev/.terraform/
/vagrant/dev/ubuntu-bionic-18.04-cloudimg-console.log
/vagrant/dev/.vagrant/
